<div class ="hero">
  <br />
  <div class="frosty col-10 offset-1 col-md-8 offset-md-2 text-center">
    <br />
    <h1>Learn Dota one video at a time</h1>
    <br />
    <h2>My name's Keytira, and I'm a support player</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Pick a Role or Hero</h3>
    <br />
    <p>Learn the game mechanics of each role, or a new hero.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn at Your Own Pace</h3>
    <br />
    <p>Enroll to improve your MMR one game at a time.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join the Community</h3>
    <br />
    <p>Learn alongside other like-minded gamers.</p>
  </div>
</div>